<div class="bg-dark home-comp-c ">
    <div class="cont">
        <p class="cont1">Hello,</p>
        <img src="https://readme-typing-svg.herokuapp.com/?font=Righteous&size=35&fill=yellow&width=500&height=70&duration=4000&lines=Hi+There!+👋;+I'm+Naing+Lin+Thant!;
            " />

        <p class="const2">Website Developer</p>
        <p class="const3">I am a skilled and passionate full-stack developer with experience in creating visually
            appealing and user-friendly web applications. My expertise spans both front-end and back-end
            development,
            allowing me to design seamless and efficient solutions that meet the needs of both clients and
            end-users.
            Whether it's crafting intuitive user interfaces or optimizing database performance, I thrive on the
            challenge of delivering high-quality software that exceeds expectations.
            websites.</p>
        <div class="const4"><img src="/assets/suitcase.svg" alt="suit"> &nbsp; Hrire me</div>
    </div>
    <div class="cont-r">
        <img src="/assets/ok.png" class="naing" alt="me">
    </div>
</div>